<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<!--     <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> -->
    <title>Eat your Veggies - Veggie Burgers!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/css/veggie_styles.css"></script>
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
