

<div class="submitveggie">
<br>
<img src="assets/img/beet-burger.jpg" alt="beet burger" />
  <h2>Place Your Veggie Burger Order</h2>

  <form class="create-form" action="/" method="POST">
    <div class="form-group">
      <label for="vb_id"></label>
      <input type="text" id="vb_id" name="name" placeholder="CUSTOM VEGGIE BURGER" required/>
    </div>

    <button type="submit">Place Order</button>
  </form>

  <p>Make your Own Veggie Burger Above or Order One From the Menu Below !</p>

</div>


<div class="vb_left">

<h2>Veggie Burgers Ready:</h2>

  {{#each burgers}}
    {{#unless this.devoured}}
      {{this.veggieburger_name}}

        <form action="/{{this.id}}?_method=POST" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit" class="devour"> Devour it!</button>
        </form>

    {{/unless}}
  {{/each}}

</div>

<div class="vb_right">

<h2>Veggie Burger Menu:</h2>

  {{#each burgers}}
    {{#if this.devoured}}


      {{this.veggieburger_name}}
        <form action="/{{this.id}}?_method=POST" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button type="submit" class="order-again"> Order it!</button>
        </form>

    {{/if}}
  {{/each}}

</div>



